/*
 *
 * MMM-LeagueOfLegends
 *
 * JulianEgbert
 * MIT Licensed.
 *
 */

.LoL-Summoner, .LoL-Tier, .LoL-Stats {
  text-align: center;
}

.LoL-Livegame {
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
  text-align: center;
}

.LoL-Matchhistory {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
}

.LoL-Clash {
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
}

.LoL-promo-game {
  margin-left: 5px;
}

.LoL-Clash td:nth-child(2) {
  text-align: left;
}

.LoL-Clash td:nth-child(3) {
  text-align: right;
  padding-left: 10px;
}

.fadeout tr:nth-last-child(2) {
  opacity: 0.6;
}

.fadeout tr:nth-last-child(1) {
  opacity: 0.3;
}

.victory {
  color: #3CBC8D;
}

.defeat {
  color: #E9422E;
}

.kills {
  color: #3CBC8D;
}

.deaths {
  color: #E9422E;
}

.assists {
  color: #FAC552;
}
